@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
	background-color: hsl(212, 45%, 89%);
	font-family: 'Outfit', sans-serif;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
}

.wrapper {
  width: 100%;
  margin: 1rem auto;
	padding: 1rem;
}
.card {
	background-color: hsl(0, 0%, 100%);
	width: 300px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 3rem;
	padding: 15px;
	border: 1px solid white;
	border-radius: 20px;
	justify-content: center;
}

/* img {
	width: 300px;
	margin: auto;
	border-radius: 10px;
} */

img { display: block; max-width: 100%}

.first,
.second {
	text-align: center;
	padding: 1rem;
}

.first {
	font-size: 20px;
	font-weight: 700;
}

.second {
	font-size: 15px;
	font-weight: 400;
}

@media screen and (max-width: 720px) {
	body {
		width: 375px;
	}
}
